@import 'https://fonts.googleapis.com/css?family=Poiret+One|Titillium+Web';

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
}

.header {
	position: relative;
	width: 100%;
	height: 300px;
	background: url("/Assets/Images/seamless-bground.png");
	background-size: 300px;
}

.ink {
	display: block; position: absolute;
	background: #C5CAE9;
	border-radius: 100%;
	transform: scale(0);
}
/*animation effect*/
.ink.animate {animation: ripple 0.65s linear;}
@keyframes ripple {
	/*scale the element to 250% to safely cover the entire link and fade it out*/
	100% {opacity: 0; transform: scale(2.5);}
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.primary-color {
    background-color: #3E50B4;
}
.accent-color {
    background-color: #FF3F80;
}

.p400 {
	background-color: #C5CAE9;	
}
.p500 {
	background-color: #3F51B5;
}
.p700 {
	background-color: #303F9F;
}

.light-background .primary-text {
    color: #000;
    opacity: 87%;
}
.light-background .secondary-text {
    color: #000;
    opacity: 54%;
}
.light-background .disabled-text {
    color: #000;
    opacity: 38%;
}
.light-background .hidden-text {
    color: #000;
    opacity: 38%;
}

.dark-background .primary-text {
    color: #FFF;
    opacity: 100%;
}
.dark-background .secondary-text {
    color: #FFF;
    opacity: 70%;
}
.dark-background .disabled-text {
    color: #FFF;
    opacity: 50%;
}
.dark-background .hidden-text {
    color: #FFF;
    opacity: 50%;
}

.white-text {
    color: #FFF;   
}
.black-text {
    color: #000;
}


ul li {
	float: left;
	list-style-type: none;
	width: 120px;
	height: 50px;
	/*relative positioning for list items along with overflow hidden to contain the overflowing ripple*/
	position: relative;
	overflow: hidden;
}
ul li a {
	display: block;
	width: 120px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	/*-webkit-user-select: none;
	static positioned elements appear behind absolutely positioned siblings(.ink in this case) hence we will make the links relatively positioned to bring them above .ink*/
	position: relative;
}