@import 'https://fonts.googleapis.com/css?family=Poiret+One|Titillium+Web';

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
}

.primary-color {
    background-color: #3E50B4;
}
.accent-color {
    background-color: #FF3F80;
}

.light-background .primary-text {
    color: #000;
    opacity: 87%;
}
.light-background .secondary-text {
    color: #000;
    opacity: 54%;
}
.light-background .disabled-text {
    color: #000;
    opacity: 38%;
}
.light-background .hidden-text {
    color: #000;
    opacity: 38%;
}

.dark-background .primary-text {
    color: #FFF;
    opacity: 100%;
}
.dark-background .secondary-text {
    color: #FFF;
    opacity: 70%;
}
.dark-background .disabled-text {
    color: #FFF;
    opacity: 50%;
}
.dark-background .hidden-text {
    color: #FFF;
    opacity: 50%;
}

.white-text {
    color: #FFF;   
}
.black-text {
    color: #000;
}


ul li {
	z-index: 1;
	list-style-type: none;
	/*relative positioning for list items along with overflow hidden to contain the overflowing ripple*/
	position: relative;
	overflow: hidden;
}
ul li a {
	display: block; padding: 10px 15px;
	text-decoration: none;
	/*-webkit-user-select: none;
	static positioned elements appear behind absolutely positioned siblings(.ink in this case) hence we will make the links relatively positioned to bring them above .ink*/
	position: relative;
}